// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$lightgray: #AAAAAA;
$yellow: #F7FF00;
$pink: #F80196;
$punchy-green: #AAFFBF;
$light-red: rgba(255, 59, 0, 0.1);
